.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  color: rgb(135, 134, 134);
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: rgb(54, 101, 167);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea,
input[type=text] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

/* Recipes */
.recipe-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.recipe-ingredients {
  align-items: center;
  margin: auto;
}

.recipe {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(209, 209, 209);
  min-width: 60vw;
  top: 0px;
  text-align: left;
}

.recipe,
.recipe-list {
  padding: 5px 10px;
}

.recipe .text {
  width: 100%;
}

.recipe-instructions {
  padding-top: 0.8rem;
}

.recipe-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.edit-button,
.update-button {
  background-color: #e6b917;
  color: white;
  padding: 10px 15px;
  margin: 5px 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 1em;
}

.edit-button:hover,
.edit-button:focus,
.update-button:hover,
.update-button:focus {
  background-color: #edd26f;
}

.delete-button {
  background-color: #ed0d0d;
  color: white;
  padding: 10px 15px;
  margin: 5px 0px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 1em;
}

.delete-button:hover,
.delete-button:focus {
  background-color: #f35757;
}

/* Form */
.form-container {
  display: flex;
  flex-direction: row;
  min-width: 60vw;
  max-width: 80vw;
  align-items: center;
  text-align: left;
  padding: 5px 0px 0px 10px;
}

.form {
  max-width: 90%;
}

.form-ingredients {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  align-items: center;
}

.ingredient-quantity {
  float: left;
  max-width: 40vw;
  margin-right: 5px;
}

.ingredient-name {
  float: right;
  max-width: 40vw;
}

input[type=text],
textarea {
  width: 80vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

label {
  padding: 10px 10px 10px 0;
  display: inline-block;
}

.submit-button {
  background-color: #0420aa;
  color: white;
  padding: 12px 20px;
  margin: 5px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #6f7ecc;
}

.error-message {
  color: red;
  text-align: center;
}

/* Alert */
.alert {
  background-color: rgb(246, 68, 62);
  color: white;
  min-width: 60vw;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 5px;
}

.message {
  padding: 5px 10px;
}

.message-button {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  color: white;
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  padding: 5px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .recipe {
    max-width: 75%;
    display: flex;
    flex-direction: column;
  }

  .form-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
  }
}